<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Cửa hàng sữa cho mẹ bầu và em bé</title>
</head>
<body>
<header>
    <img src="./abc.png" alt="" style="inline-size:1490px; block-size:100px;">
</header>
<nav>
   <div class = "container">
    <ul>
        <li><a href=""><img style= "inline-size: 120px" src="./cde.png" alt=""></a></li>
        <li><a href="">Tìm siêu thị<i class="fa-solid fa-location-dot"></i></a></li>
        <li><input type="text" placeholder="Bạn tìm gì..."><i class="fa-solid fa-magnifying-glass"></i></li>
        <li><a href=""></a><button><i class="fa-solid fa-cart-shopping"></i>Giỏ hàng</button></li>
        <li><a href="">Lịch sử <br> đơn hàng</a></li>
        <li><a href=""><span class="btn-content"><span class="btn-top"></span></span>Ưu đãi</a></li>
        <li><a href="">Siêu tốc 1h</a></li>
        <li><a href="">Hỏi đáp</a></li>
        <li><a href="#" onclick="openModal()">Đăng nhập / Đăng ký</a></li>
    </ul>
   </div>  
</nav>
</section>

<footer class="footer">
    <div class="footer-top">
      <div class="top-item">
        <img src="./footer-trust.png" alt="Cùng Ba Mẹ Nuôi Con">
        <p>Cùng Ba Mẹ Nuôi Con</p>
      </div>
      <div class="top-item">
        <img src="./footer-ship.png" alt="Giao Hàng Siêu Tốc">
        <p>Giao Hàng Siêu Tốc</p>
      </div>
      <div class="top-item">
        <img src="./footer-genuine-1.png" alt="100% Chính Hãng">
        <p>100% Chính Hãng</p>
      </div>
      <div class="top-item">
        <img src="./footer-baoquan.png" alt="Bảo Quản Mát">
        <p>Bảo Quản Mát</p>
      </div>
      <div class="top-item">
        <img src="./footer-refund-1.png" alt="Đổi Trả Dễ Dàng">
        <p>Đổi Trả Dễ Dàng</p>
      </div>
    </div>
  
    <div class="footer-mid">
      <div class="footer-col">
        <h3>Công Ty Cổ Phần Nhóm 3</h3>
        <p>Thành viên của Tập Đoàn ABC Group</p>
        <p>Email: <a href="mailto:cskh@Nhom3.com">cskh@Nhom3.com</a></p>
        <p>Địa chỉ: ĐH GIAO THÔNG VẬN TẢI TP. HCM</p>
        <p>Mã số doanh nghiệp: 0123456789</p>
        <p>Hotline: <strong>1234 5678</strong></p>
      </div>
  
      <div class="footer-col">
        <h3>Về Con Cưng</h3>
        <ul>
          <li><a href="#">Giới Thiệu Về Công Ty</a></li>
          <li><a href="#">Tuyển Dụng</a></li>
          <li><a href="#">Hệ Thống Cửa Hàng</a></li>
          <li><a href="#">Chương Trình Ưu Đãi</a></li>
        </ul>
  
        <h3>Hỗ Trợ Khách Hàng</h3>
        <ul>
          <li><a href="#">Chính Sách Giao Hàng</a></li>
          <li><a href="#">Chính Sách Đổi Trả</a></li>
          <li><a href="#">Chính Sách Bảo Mật</a></li>
          <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h3>Chấp Nhận Thanh Toán</h3>
        <div class="payment-logos">
          <img src="./visa-pay.png" alt="Visa">
          <img src="./mastercard-pay.png" alt="MasterCard">
          <img src="./jcb-pay.png" alt="JCB">
          <img src="./atm-pay.png" alt="Thẻ ATM">
        </div>
        <h3>Đối Tác Vận Chuyển</h3>
        <div class="shipping-logos">
          <img src="./grap.png" alt="Grab">
          <img src="./ahamove.png" alt="GHTK">
        </div>
      </div>
  
      <div class="footer-col">
        <h3>Tải Ứng Dụng Này Nhanh Nhất</h3>
        <p>Với ưu đãi hấp dẫn dành cho ba mẹ</p>
        <div class="app-links">
          <div class="store-links">
            <a href="#"><img src="./app-ios.png" alt="App Store"></a>
            <a href="#"><img src="./app-android.png" alt="Google Play"></a>
          </div>
        </div>
      </div>
  
      <div class="footer-col">
        <h3>Kết Nối Với Chúng Tôi</h3>
        <div class="social-links">
          <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2025 Con Cưng. Tất cả quyền được bảo lưu. Dành cho ba mẹ bầu bí & bé yêu.</p>
    </div>
  </footer>  
  
</body>
</html>